[submodule "package"]
	path = package
	url = https://github.com/dimaslanjaka/hexo-seo
	branch = pre-release
[submodule "site"]
	path = site
	url = https://github.com/dimaslanjaka/site
	branch = hexo-seo
