[submodule "test/demo"]
	path = test/demo
	url = https://github.com/dimaslanjaka/site.git
	branch = test-demo
[submodule "packages/@types"]
	path = packages/@types
	url = https://github.com/dimaslanjaka/nodejs-package-types.git
