**/node_modules
**/.yarn/cache
**/.yarn/*.gz
**/.yarn/versions
**/.yarn/patches
**/tmp
/docs/
yarn.lock
package-lock.json
coverage/

## ignore monorepo files
.frontmatter/
/site
/dist
**/.env

## Auto generated
__*.*
src/_config_data.json
/CHANGELOG.md
/*.tgz
/*.gz