[submodule "test/demo"]
	path = test/demo
	url = https://github.com/dimaslanjaka/site.git
	branch = hexo-seo
[submodule "package"]
	path = package
	url = https://github.com/dimaslanjaka/hexo-seo
	branch = master
