name: Build Release

# automated packer.js
# repo    : https://github.com/dimaslanjaka/nodejs-package-types/blob/main/.github/workflows/build-release.yml
# raw     : https://raw.githubusercontent.com/dimaslanjaka/nodejs-package-types/main/.github/workflows/build-release.yml
# update  : curl -L https://github.com/dimaslanjaka/nodejs-package-types/raw/main/.github/workflows/build-release.yml > .github/workflows/build-release.yml

on:
  push:
    branches: [ "master", "main" ]
  pull_request:
    types:
      - closed
  workflow_dispatch:

jobs:
  build:
    runs-on: "ubuntu-latest" # ${{ matrix.os }}

    strategy:
      matrix:
        os: [ "ubuntu-latest", "macos-latest", "windows-latest" ]
        node-version: [ 14.x, 16.x, 18.x ]
        architecture: [ x86, x64 ]

    name: Node ${{ matrix.node-version }} - ${{ matrix.architecture }} # on ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v3
        with:
          repository: dimaslanjaka/nodejs-package-types
          token: ${{ secrets.GITHUB_TOKEN }}

      # https://github.com/actions/cache/blob/main/tips-and-workarounds.md#force-deletion-of-caches-overriding-default-cache-eviction-policy
      - name: Cleanup caches
        if: ${{ false }}
        # if: matrix.node-version == '18.x' && matrix.architecture == 'x64' && runner.os == 'Linux'
        run: |
          gh extension install actions/gh-actions-cache

          REPO=${{ github.repository }}
          BRANCH=${{ github.ref }}

          echo "Fetching list of cache key"
          cacheKeysForPR=$(gh actions-cache list -R $REPO -B $BRANCH | cut -f 1 )

          ## Setting this to not fail the workflow while deleting cache keys.
          set +e
          echo "Deleting caches..."
          for cacheKey in $cacheKeysForPR
          do
              gh actions-cache delete $cacheKey -R $REPO -B $BRANCH --confirm
          done
          echo "Done"
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      # https://github.com/actions/cache/blob/main/tips-and-workarounds.md#improving-cache-restore-performance-on-windows-using-cross-os-caching
      - if: ${{ runner.os == 'Windows' }}
        name: Use GNU tar
        shell: cmd
        run: |
          echo "Adding GNU tar to PATH"
          echo C:\Program Files\Git\usr\bin>>"%GITHUB_PATH%"

      - name: Set env
        id: set-env
        run: |
          echo "GITHUB_SHA_SHORT=$(echo $GITHUB_SHA | cut -c 1-6)" >> $GITHUB_ENV
          echo "GITHUB_BRANCH=${GITHUB_REF#refs/heads/}" >> $GITHUB_ENV
          echo "GITHUB_COMMIT_URL=https://github.com/${{github.repository}}/commit/$(echo $GITHUB_SHA)" >> $GITHUB_ENV
          echo "GITHUB_RUNNER_URL=https://github.com/${{github.repository}}/commit/${{github.sha}}/checks/${{github.run_id}}" >> $GITHUB_ENV
          echo "CACHE_NPM=$(npm config get cache)" >> $GITHUB_ENV
          echo "CACHE_YARN=$(yarn cache dir)" >> $GITHUB_ENV
          echo "CACHE_YARN2=$(yarn config get cacheFolder)" >> $GITHUB_ENV
          echo "cache-npm=$(npm config get cache)" >> $GITHUB_OUTPUT
          echo "cache-yarn=$(yarn cache dir)" >> $GITHUB_OUTPUT
          echo "cache-yarn2=$(yarn config get cacheFolder)" >> $GITHUB_OUTPUT

      - name: Get env
        run: |
          echo "branch      : $GITHUB_BRANCH"
          echo "commit hash : $GITHUB_SHA_SHORT"
          echo "commit url  : $GITHUB_COMMIT_URL"
          echo "runner url  : $GITHUB_RUNNER_URL"
          echo "cache npm   : $CACHE_NPM"
          echo "cache yarn  : $CACHE_YARN"
          echo "cache yarn2 : $CACHE_YARN2"

      - name: Pull & update submodules recursively
        run: |
          git submodule update --init --recursive
          git submodule update --recursive --remote

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          token: ${{ secrets.GITHUB_TOKEN }}
          #cache: 'npm'
          #cache-dependency-path: '**/package-lock.json'

      - name: Enable corepack
        run: corepack enable

      - uses: actions/cache@v3
        id: cache
        with:
          path: |
            ${{ steps.set-env.outputs.cache-npm }}
            ${{ steps.set-env.outputs.cache-yarn }}
            ${{ steps.set-env.outputs.cache-yarn2 }}
          key: ${{ runner.os }}-${{ matrix.node-version }}-${{ matrix.architecture }}-${{ hashFiles('**/package-lock.json') }}
          restore-key: |
            ${{ runner.os }}-${{ matrix.node-version }}-${{ matrix.architecture }}-
            ${{ runner.os }}-${{ matrix.node-version }}-
            ${{ runner.os }}-

      - name: Install
        run: npm install --legacy-peer-deps

      - if: ${{ steps.cache.outputs.cache-hit != 'true' }}
        name: List the state of node modules
        continue-on-error: true
        run: npm list

      - name: Build
        run: npm run build

      - name: Git setup user email
        if: matrix.node-version == '18.x' && matrix.architecture == 'x64'
        continue-on-error: true
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email '41898282+github-actions[bot]@users.noreply.github.com'
      - run: git add release
        if: matrix.node-version == '18.x' && matrix.architecture == 'x64'
        continue-on-error: true
      - run: git add dist
        if: matrix.node-version == '18.x' && matrix.architecture == 'x64'
        continue-on-error: true
      - run: git add lib
        if: matrix.node-version == '18.x' && matrix.architecture == 'x64'
        continue-on-error: true
      - name: Git push
        if: matrix.node-version == '18.x' && matrix.architecture == 'x64'
        continue-on-error: true
        run: |
          git commit -m "Update build from $GITHUB_SHA_SHORT\ncommit url: $GITHUB_COMMIT_URL\nrunner: $GITHUB_RUNNER_URL"
          git push
